{% extends 'base.html' %}

{% block title %}Ваш заказ{% endblock %}

{% block content %}
<div class="order-info">
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span>${{ item.total_price }}</span>
        </li>
        {% endfor %}
    </ul>
    <p>Total: {{ cart.get_total_price }}</p>
</div>
<form class="order-form" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Оплатить">
</form>
{% endblock %}